@mixin pribor($url, $width, $height) {
  border-radius: 10px;
  text-align: center;
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: cover;
  width: $width;
  height: $height;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.632);
  user-select: none;
}

@mixin pribor-range($width, $m-top, $m-bot) {
  width: $width;
  margin-top: $m-top;
  margin-bottom: $m-bot;
  appearance: none;
  background-color: rgba(101, 101, 101, 0.353);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  color: #fff;
}

.close-s {
  transform: translate(-101%, -1%);
}

.big-Photo {
  max-width: 90vw;
  max-height: 90vh;
  margin: 5vh auto;
  z-index: 30;
}

.back-window-photo {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.394);
  z-index: 25;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: -1vw;
  left: 0;
  width: 30%;
  background-color: #fff;
  text-align: center;
  padding: 0.4em 1em;
  z-index: 10;
  transition-duration: 1s;

  &__btn {
    width: 20%;
    background-color: rgba(118, 116, 116, 0.102);
    position: absolute;
    top: 0;
    bottom: -1vw;
    left: 100%;
    z-index: 21;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.2s;

    span {
      color: rgba(255, 255, 255, 0.435);
      transition-duration: 0.3s;
    }

    &:hover {
      background-color: rgba(159, 159, 159, 0.537);

      span {
        color: rgb(255, 255, 255);
      }
    }
  }

  &__title {
    color: #000;
    padding: 0.5em 0.4em 0.2em;
    font-size: 2vw;
  }

  &__title-album {
    color: #000;
    padding: 0.6em 0;
    font-size: 1.5vw;
  }

  
  &__title-settings {
    font-size: 1.3vw;
    color: #000;
  }

  &__album {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  .s-photo {
    width: 46%;
    margin: 0 2% 1.2vw;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      transform: scale(1.05);
      transition-duration: 0.5s;
    }
  }
}

/* value fields */
.field {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(126, 117, 106);
  width: 90px;
  text-align: center;
  color: #fff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.632);
  user-select: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  background-color: #000;
  align-items: center;
  min-height: 10vh;

  .header__logo {
    margin: 0 6% 0 8%;
    width: 7%;
    display: block;
    // 21%
  }

  .header__title {
    width: 55%;
    // 55%
  }

  .header__link {
    width: 15%;
    margin-left: 6%;
    margin-right: 3%;
    font-weight: 600;
    text-decoration: none;
    // 24%

    &:hover {
      color: rgb(159, 159, 159);
    }
  }
}

.link__content {
  display: none;
  user-select: none;
}

.header__link:hover + .link__content {
  display: block;
  position: absolute;
  width: 20%;
  top: 10vh;
  right: 2vw;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  transition-duration: 2s;
}

.link__text {
  color: #000;
  font-size: 1em;
}

.main {
  background-image: url(../assets/orange-floor-and-wall-background-3d-rendering_43151-1031.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5vh 0 8vh;
  overflow: hidden;
  min-height: 80vh;
}

.appliances {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 4vh;
}
/*ampermetr styles*/
.ampermetr {
  @include pribor("../assets/amper.png", 400px, 220px);

  &__range {
    @include pribor-range(82%, 37px, 95px);
  }
}

/*voltmetr styles*/
.voltmetr {
  @include pribor("../assets/volt.png", 450px, 220px);

  &__range {
    @include pribor-range(80%, 39px, 95px);
  }
}

.control {
  display: flex;
  justify-content: center;
}

.curtain-setings {
  text-align: center;
  margin: 0 1.5vw;

  &__title {
    font-weight: 600;
    font-size: 1.1em;
  }

  &__check {
    appearance: none;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.769);
    border-radius: 50%;
    margin-top: 1.5vh;
    outline: none;

    &:hover {
      border: 2px solid black;
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.558);
    }

    &:checked {
      background-color: rgba(101, 101, 101, 0.353);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.632);

      &:active {
        background-color: rgba(0, 0, 0, 0.558);
      }
    }
  }
}

.voltmetr-setings {
  text-align: center;
  margin: 0 1.5vw;

  &__title {
    font-weight: 600;
    font-size: 1.1em;
  }

  &__range {
    margin-top: 4vh;
    width: 100%;
  }
}

.dist-info {
  text-align: center;
  margin: 2vh 0;

  &__title {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 1.5vh;
  }
}

.installation {
  display: flex;
  justify-content: center;

  &__lamp {
    width: 30%;
    margin-right: -5vw;
  }

  &__runner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
  }

  .priemnik {
    width: 20%;
    margin: 10px 0 -3.2vw 2.85vw;
    position: absolute;
    left: 0;
    bottom: 20px;
  }

  .cap {
    position: absolute;
    // top: 2.7vh;
    // top: -6vh;
    margin-left: 5.3vw;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    width: 0.7vw;
    height: 5.2vw;
    background-color: rgb(56, 55, 55);
    transition-property: top;
    transition-duration: 1.5s;
    z-index: 3;
  }

  .ruler-range {
    width: 89%;
    margin-left: 10%; 
    position: absolute;
    z-index: 4;
    left: 0;
    bottom: 0;

    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0.1vw;
      margin: 0.7vw 0 0 -11%;
      width: 111%;
      height: 2.6vw;
      background-image: url(../assets/ruler.png);
      background-size: cover;
    }
  }
}

.footer {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2vh 0;
  min-height: 10vh;

  &__logo {
    width: 20%;
  }

  &__text {
    font-size: 1.8em;
    font-weight: 600;
  }
}

.open {
  top: -4vw;
}

.close {
  top: 0.2vw;
}

@media screen and (max-width: 1300px) {
  .close {
    top: 0vw;
  }
}

@media screen and (max-width: 1100px) {
  .header__title {
    font-size: 1.5em;
  }

  .header__link {
    font-size: 0.9em;
  }

  .installation .ruler-range:after {
    margin-top: 0.9vw;
    // width: 99.5%;
  }

  .ampermetr {
    width: 340px;
    height: 190px;

    &__range {
      @include pribor-range(82.5%, 32px, 90px);
    }
  }

  .voltmetr {
    width: 380px;
    height: 190px;

    &__range {
      @include pribor-range(82%, 32px, 90px);
      margin-left: 8px;
    }
  }

  .open {
    top: -4.5vw;
  }

  .close {
    top: -0.35vw;
  }
}

@media screen and (max-width: 900px) {
  .field {
    width: 70px;
    font-size: 0.8em;
  }

  .header__title {
    font-size: 1.2em;
  }

  .ampermetr {
    width: 260px;
    height: 150px;

    &__range {
      @include pribor-range(86%, 22px, 80px);
      margin-left: 6px;
    }
  }

  .voltmetr {
    width: 300px;
    height: 150px;

    &__range {
      @include pribor-range(84%, 22px, 80px);
    }
  }

  .curtain-setings {
    &__title {
      font-size: 1em;
    }

    &__check {
      width: 25px;
      height: 25px;
    }
  }

  .voltmetr-setings {
    &__title {
      font-size: 1em;
    }

    &__range {
      margin-top: 2vh;
    }
  }

  .installation .ruler-range:after {
    margin-top: 1.15vw;
    // width: 99.5%;
  }

  .footer__text {
    font-size: 1.3em;
  }

  .open {
    top: -4.8vw;
  }

  .close {
    top: -0.8vw;
  }
}

@media screen and (max-width: 800px) {
  .close {
    top: -1.2vw;
  }
}

@media screen and (max-width: 674px) {
  .sidebar__title {
   font-size: 3vw;
  }

  .sidebar__btn span {
    font-size: 2.2vw;
  }

  .sidebar__title-album {
    font-size: 2.5vw;
  }

  .field {
    width: 50px;
    font-size: 0.5em;
  }

  .header__title {
    font-size: 0.8em;
  }

  .header__link {
    font-size: 0.5em;
  }

  .ampermetr {
    width: 160px;
    height: 90px;

    &__range {
      @include pribor-range(90%, 15px, 40px);
      margin-right: 4px;
      height: 4px;
    }
  }

  .voltmetr {
    width: 170px;
    height: 85px;

    &__range {
      @include pribor-range(87%, 15px, 35px);
      margin-right: 4px;
      height: 4px;
    }
  }

  .curtain-setings {
    &__title {
      font-size: 0.7em;
    }
  }

  .voltmetr-setings {
    &__title {
      font-size: 0.7em;
    }
  }

  .dist-info__title {
    font-size: 0.7em;
    margin-bottom: 0vh;
  }

  .open {
    top: -5.6vw;
  }

  .close {
    top: -1.6vw;
  }
}

@media screen and (max-width: 570px) {
  .sidebar .s-photo {
    width: 100%;
    margin: 0 0 1.6vw;
    cursor: pointer;
    border-radius: 5px;
  }

  .open {
    top: -6.8vw;
  }

  .close {
    top: -2.4vw;
  }
}
