$blue: #5956e9;
$sidebar-time: 1s;

* {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
  outline: none;
  box-sizing: border-box;
}

.ERROR {
  display: none;
}

.btn {
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: $blue;
  }
  &:active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
  }
}
/* Элементы кнопки меню */
.line {
  background-color: #fff;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  transition-duration: $sidebar-time;
}

.field {
  padding: .2em 0;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  cursor: default;
}
/* Меню */
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 2em;
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 10px;
  transition-property: transform;
  transition-duration: $sidebar-time;
  
  &__hr {
    width: 100%;
    height: 3px;
    background-color: #000;
    margin-top: 1em;
    border-radius: 1px;
  }

  &__album {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3em 0 1em;
  }

  &__photo {
    width: 40%;
    margin-bottom: 2em;
    border-radius: 10px;
    box-shadow: 0 0 5px;
      &:hover {
      border: 2px solid black;
    }
  }

  &__link {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    display: inline-block;
    padding: .6em 1em;
    border-radius: 5px;
    &:hover {
      background-color: $blue;
    }
    &:active {
      background-color: #fff;
      color: #000;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: .5em 0;
  box-shadow: 0 0 15px;
  margin-bottom: 3em;

  &__logo {
    width: 80px;
    margin: 0 1em;
  }

  &__title {
    width: 70%;
  }

  &__about {
    padding: .5em 1em;
    margin-right: 1em;
  }
}

.menu-btn {
  width: 50px;
  height: 50px;
  margin-left: 1em;
  background-color: #000;
  border-radius: 5px;
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: $sidebar-time;
  padding: 10px 5px;
  &:active {
    .line {
      background-color: #000;
    }
  }

  &__middle-line {
    margin: 17% 0;
    transition-duration: .2s;
  }
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 80vh;
}

.appliances {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pribor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 300px;
  padding: 1.5em 2em;
  background-color: $blue;
  border-radius: 10px;
  box-shadow: 0 0 5px;

  &__window {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
    background-color: rgb(221, 228, 255);
    border-radius: 10px;
    box-shadow: 0 0 5px;
  }

  &__title {
    width: 50px;
    height: 50px;
    margin: 1em 0;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 50%;
    &::after {
      content: '';
      width: 20px;
      position: relative;
      left: 30px;
      border-top: 3px solid black;
    }
    &::before {
      content: '';
      width: 20px;
      position: relative;
      right: 30px;
      border-top: 3px solid black;
    }
  }

  &__scale {
    width: 100%;
  }

  &__value {
    width: 40%;
  }
} 

.datalist {
  width: 100%;
  margin-top: .3em;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  cursor: default;

  &__item {
    font-weight: bold;
    font-size: .8em;
    color: rgb(126, 126, 126);
  }
}

.options {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4em 0 0;

  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0 2em;
    padding: 1.5em;
    min-width: 270px;
    border-radius: 10px;
    box-shadow: 0 0 10px;

    &__title {
      font-weight: bold;
      margin-bottom: 2em;
    }

    &__curtain {
      appearance: none;
      width: 45px;
      height: 45px;
      border: 1px solid black;
      border-radius: 50%;
      transition-duration: .5s;
      cursor: pointer;
      &:hover {
        background-color: rgb(230, 230, 230);
        box-shadow: 0 0 10px;
        border: 2px solid black;
      }
      &:checked {
        background-color: rgba(0, 0, 0, 0.605);
        box-shadow: 0 0 10px;
      }
    }

    &__scale {
      width: 100%;
    }
  }

  &-dist {
    width: 100%;
    text-align: center;
    margin: 1.5em 0;

    &__title {
      margin-bottom: 1em;
      font-weight: bold;
    }

    &__field:hover {
      background-color: rgb(238, 238, 238);
    }
  }
}

.installation {
  width: 100%;
  display: flex;
  padding: 3em 0 0;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(204, 204, 204, 0.449);
  border: 5px solid black;
  border-radius: 15px;
  overflow: hidden;
  transition-property: box-shadow;
  transition-duration: 1.5s;

  &__lamp {
    width: 40%;
  }

  &__runner {
    width: 60%;
    position: relative;
    background-image: url('/assets/bc__ruler.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 5px 5px 0;
  }

  &__cap {
    display: block;
    width: 10px;
    height: 5.2vw;
    position: absolute;
    left: 0;
    background-color: #5c6b6f;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 5;
    transition-property: bottom;
    transition-duration: 1s;
  }

  &__priemnik {
    width: 18%;
    position: absolute;
    left: 0;
    bottom: 20px;
  }

  &__ruler {
    width: 100%;
  }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 6em;
  padding: 1em 0;
  margin: 1em 0 0;
  background-color: rgb(37, 37, 37);

  &__logo {
    width: 300px;
  }

  &__text {
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
  }
}
// Дополнительные классы
.open {
  bottom: 13vw;
}

.close {
  bottom: 8.3vw;
}

.aside-close {
  transform: translateX(-105%);
}

.menu-btn-open {
  transform: translateX(600px);
}

.back-window {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.632);
  opacity: 0;
  transition-duration: 1s;
  z-index: -1;
}

.big-photo {
  width: 50%;
  border-radius: 10px;
}

.modal {
  width: 40%;
  padding: 2em;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  transition-duration: 1s;
  z-index: 1000;

  &__logo {
    width: 90px;
    height: 90px;
    margin: 2em 0;
    border-radius: 50%;
    box-shadow: 0 0 5px;
  }

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.close-modal {
  transform: translateY(-110vh);
}

.open-back-window {
  opacity: 1;
  z-index: 50;
}


@media screen and (min-width: 2000px) {
  .main {
    min-height: 85vh;
  }

  .field {
    font-size: 1.5em;
  }

  .pribor {
    height: 300px;
    justify-content: space-around;
  }

  .datalist__item {
    font-size: 1.2em;
  }

  .title {
    font-size: 1.7em;
  }

  .btn {
    font-size: 1.5em;
  }

  .footer__text {
    font-size: 2em;
  }
}

@media screen and (max-width: 1150px) {
  .close {
    bottom: 9vw;
  }
}

@media screen and (max-width: 950px) {
  .options-block {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 855px) {
  .close {
    bottom: 9.4vw;
  }

  .pribor {
    margin-bottom: 1em;
    width: 70%;
  }

  .options-block {
    margin: 1em;
    min-width: 0;
  }
}

@media screen and (max-width: 770px) {
  .header__title {
    font-size: 1.4em;
  }

  .footer__logo {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .menu-btn {
    display: none;
  }
  
  .header {
    margin: 0;
    height: 15vh;
    font-size: .8em;

    &__about {
      display: none;
    }
  }

  .modal {
    display: none;
  }

  .aside {
    display: none;
  }

  .wrapper {
    display: none;
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15vh;
    
    &__text {
      font-size: 1em;
    }
  }

  .main {
    background-color: rgba(255, 188, 188, 0.496);
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ERROR {
    display: block;
    width: 60%;
    font-weight: bold;
    text-align: center;
  }
}