@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", cursive;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  white-space: nowrap;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background-color: #5956e9;
}

.btn:active {
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

/* Элементы кнопки меню */
.line {
  background-color: #fff;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.field {
  padding: .2em 0;
  border-radius: 10px;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
  cursor: default;
}

/* Меню */
.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  padding: 2em;
  position: fixed;
  background-color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.aside__hr {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin-top: 1em;
  border-radius: 1px;
}

.aside__album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3em 0 1em;
}

.aside__photo {
  width: 40%;
  margin-bottom: 2em;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.aside__photo:hover {
  border: 2px solid black;
}

.aside__link {
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  display: inline-block;
  padding: .6em 1em;
  border-radius: 5px;
}

.aside__link:hover {
  background-color: #5956e9;
}

.aside__link:active {
  background-color: #fff;
  color: #000;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .5em 0;
  -webkit-box-shadow: 0 0 15px;
          box-shadow: 0 0 15px;
  margin-bottom: 3em;
}

.header__logo {
  width: 80px;
  margin: 0 1em;
}

.header__title {
  width: 70%;
}

.header__about {
  padding: .5em 1em;
  margin-right: 1em;
}

.menu-btn {
  width: 50px;
  height: 50px;
  margin-left: 1em;
  background-color: #000;
  border-radius: 5px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  padding: 10px 5px;
}

.menu-btn:active .line {
  background-color: #000;
}

.menu-btn__middle-line {
  margin: 17% 0;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 80vh;
}

.appliances {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pribor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  min-width: 300px;
  padding: 1.5em 2em;
  background-color: #5956e9;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.pribor__window {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1em;
  background-color: #dde4ff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px;
          box-shadow: 0 0 5px;
}

.pribor__title {
  width: 50px;
  height: 50px;
  margin: 1em 0;
  font-weight: bold;
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
  border-radius: 50%;
}

.pribor__title::after {
  content: '';
  width: 20px;
  position: relative;
  left: 30px;
  border-top: 3px solid black;
}

.pribor__title::before {
  content: '';
  width: 20px;
  position: relative;
  right: 30px;
  border-top: 3px solid black;
}

.pribor__scale {
  width: 100%;
}

.pribor__value {
  width: 40%;
}

.datalist {
  width: 100%;
  margin-top: .3em;
  margin-left: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: default;
}

.datalist__item {
  font-weight: bold;
  font-size: .8em;
  color: #7e7e7e;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 4em 0 0;
}

.options-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 2em;
  padding: 1.5em;
  min-width: 270px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

.options-block__title {
  font-weight: bold;
  margin-bottom: 2em;
}

.options-block__curtain {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  cursor: pointer;
}

.options-block__curtain:hover {
  background-color: #e6e6e6;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
  border: 2px solid black;
}

.options-block__curtain:checked {
  background-color: rgba(0, 0, 0, 0.605);
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

.options-block__scale {
  width: 100%;
}

.options-dist {
  width: 100%;
  text-align: center;
  margin: 1.5em 0;
}

.options-dist__title {
  margin-bottom: 1em;
  font-weight: bold;
}

.options-dist__field:hover {
  background-color: #eeeeee;
}

.installation {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border: 5px solid black;
  border-radius: 15px;
  overflow: hidden;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

.installation__lamp {
  width: 40%;
}

.installation__runner {
  width: 60%;
  position: relative;
  background-image: url("/assets/bc__ruler.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 5px 5px 0;
}

.installation__cap {
  display: block;
  width: 10px;
  height: 5.2vw;
  position: absolute;
  left: 0;
  background-color: #5c6b6f;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 5;
  -webkit-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.installation__priemnik {
  width: 18%;
  position: absolute;
  left: 0;
  bottom: 20px;
}

.installation__ruler {
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 6em;
  padding: 1em 0;
  margin: 1em 0 0;
  background-color: #252525;
}

.footer__logo {
  width: 300px;
}

.footer__text {
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
}

.open {
  bottom: 13vw;
}

.close {
  bottom: 8.3vw;
}

.aside-close {
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
}

.menu-btn-open {
  -webkit-transform: translateX(600px);
          transform: translateX(600px);
}
